@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  background: black;
}
body {
  color: rgb(var(--foreground-rgb));
  background: url("data:image/svg+xml,%3Csvg width='950' height='1024' viewBox='0 0 950 1024' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect id='bluela 2' x='-384' y='-114' width='1024' height='1257.84' fill='url(%23paint0_radial_1_271)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_1_271' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(46.5 1034) rotate(-61.4392) scale(1143.42 1212.66)'%3E%3Cstop offset='0.17212' stop-color='%231FA911' stop-opacity='0.810119'/%3E%3Cstop offset='0.645833' stop-color='%232F15D0'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E")
    center/cover no-repeat;
}

.text-shadow {
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.card-bg {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 27.5%,
      rgba(22, 93, 255, 0.16) 157.71%
    ),
    #fff;
  box-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04),
    0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
}

.carousel {
  position: relative;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 65%;
}
.carousel .slider.animated {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  position: relative;
}
.carousel .slide img {
  vertical-align: top;
  border: 0;
}

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
